* {
  margin: 0;
  padding: 0;
}

:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  /* font-weight: 400; */
  /* font-style: normal; */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  height: 90px;
  position: fixed;
  z-index: 15;
}

header .logo h3 {
  margin: 0;
  padding: 0;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #48b4af;
}

.container {
  height: 100vh;
  padding: 120px;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

.profileImage {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

img {
  width: 300px;
  height: 500px;
}

.service {
  margin-top: 80px;
  margin-bottom: 60px;
}

#skill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
}

#skill button {
  margin-bottom: 100px;
}

/* gsapアニメーション */
.cursor {
  position: fixed;
  background-color: blue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: -7.5px 0 0 -7.5px;
  user-select: none;
  pointer-events: none;
  cursor: none;
  z-index: 10;
}

.circles {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f0fffa;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  background-color: green;
  width: 630px;
  height: 630px;
  margin: -315px 0 0 -315px;
}

.circle2 {
  background-color: red;
  width: 420px;
  height: 420px;
  z-index: 1;
  margin: -220px 0 0 -220px;
}

.circle3 {
  background-color: purple;
  width: 200px;
  height: 200px;
  z-index: 2;
  margin: -100px 0 0 -100px;
}

.content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  mix-blend-mode: screen;
  z-index: 3;
}

.content h1 {
  font-size: 10rem;
}
